body {
  font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  grid-template-areas:
    "header header header header"
    "hero hero hero hero"
    "about about about about"
    "services services services services"
    "projects projects projects projects"
    "footer footer footer footer";
  grid-template-columns: repeat(4, 1fr);
  background-color: #000000;
  font-size: 1.6rem;
  font-weight: 400;
}

@-webkit-keyframes downarrow {
  0% {
    -webkit-transform: translateY(0);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateY(0.6em);
    opacity: 0.9;
  }
}

@media (max-width: 426px) {
  .hero {
    max-height: 60vh;
  }

  .hero h2 {
    max-width: 100% !important;
    font-size: 1rem !important;
    line-height: 1rem;
    padding-left: 1rem;
    text-align: center;
  }

  .hero img {
    width: 50%;
    height: 50%;
  }

  .about .item {
    text-align: center;
  }

  .about {
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(4, 1fr);
  }

  .services {
    grid-template-columns: 1fr !important;
  }

  .services .service {
    padding: 30px 20px !important;
  }

  .projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(4, 1fr) !important;
  }

  .footer nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 320px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  section .projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.header {
  grid-area: header;
  background-color: #000000;
}

.header img {
  width: 173px;
  height: 64px;
}

.header .header-container {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

.hero {
  grid-area: hero;
  height: 89vh;
  background: url("images/hero-background.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.hero h2 {
  width: 490px;
  height: 94px;
  font-size: 40px;
  line-height: 47px;
  font-weight: var(--fw-regular);
}

.hero h2 strong {
  font-weight: var(--fw-bold);
  color: var(--pattern-orange);
}

.hero img {
  width: 426px;
}

.hero:after {
  content: url("../assets/arrow.svg");
  position: absolute;
  height: 55px;
  bottom: 40px;
  animation: downarrow 0.6s infinite alternate ease-in-out;
}

.about {
  grid-area: about;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about .image {
  height: 100%;
  width: 100%;
}

.about .item {
  padding: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about .item h3 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.8rem;
  margin-bottom: 4rem;
  align-self: flex-start;
}

.about .item p {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-align: justify;
  margin-bottom: 2rem;
}

span {
  color: var(--pattern-orange);
}

.about .image.right {
  background: url("images/surfboard-2.jpg") center center no-repeat;
  background-size: cover;
}

.about .image.left {
  background: url("../src/images/jeremy-bishop-cmt3JdS5MC4-unsplash.jpg") center
    center no-repeat;
  background-size: cover;
}

h3,
p {
  color: aliceblue;
}

.services {
  grid-area: services;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.services .service {
  padding: 140px 20px;
  text-align: center;
}

.services .service img {
  margin: 0 auto;
}

.services .service .service-info h3 {
  font-weight: 700;
  font-size: 1.8rem;
  margin-top: 30px;
}

.services .service .service-info p {
  font-weight: 300;
  font-size: 2rem;
  max-width: 400px;
  margin: 20px auto 0;
  line-height: 30px;
}

.projects {
  grid-area: projects;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.projects .project-image {
  background-color: aliceblue;
}

.projects img {
  height: 100%;
  width: 100%;
  transition: 0.3s;
}

.projects a:hover img {
  opacity: 0.8;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 45px 0;
}

.footer img {
  margin-right: 15px;
}

.footer nav {
  margin: 50px 0;
}

.footer nav ul {
  display: flex;
  justify-content: center;
  max-width: 320px;
  margin: 0 auto;
}

.footer nav ul li a {
  color: aliceblue;
  font-weight: 700;
  font-size: 1.6rem;
  margin: 30px;
  border-radius: 50px;
  transition: 0.3s;
  padding: 10px 40px;
}

.footer nav ul li a:hover {
  color: #000000;
  background-color: aliceblue;
}

.footer .social i {
  font-size: 4rem;
  color: var(--pattern-orange);
  transition: 0.4s;
  margin: 20px;
}

.footer .social i:hover {
  color: aliceblue;
}
